// Primary Color
$primary-drk: #0062d0;
$primary-md: #007dfe;
$primary-li: #78abfc;
$logo: #0080ff;
$logo-2: #b33bee;

// Text Color
$black: #1b2e35;
$gray: #676767;
$gray-li: #a6a6a6;
$white: #ffffff;
